#main_div{
    width: 90%;
    margin: auto;
}
#first_div{
display: flex;
/* border: 2px solid red; */
justify-content: space-between;


}
#first_para_div{
width: 60%;
/* border: 1px solid blue; */
font-size: 50px;
color: #406882;
font-weight: 700;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: start;
padding: 10px 10px 10px 10px;
}
#first_para_div>h1:hover{
color: #7895B2;
}
#first_img_div{
    width: 40%;
    /* border: 5px solid #7895B2; */
}
#first_img_div>img{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
#first_img_div>img:hover{
    transform: scale(0.9);
}
#chat_prac_learn_div{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    /* border: 2px solid blueviolet; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.second_img_para_div{
    /* border: 3px solid #F66B0E; */
    padding: 10px 10px 10px 10px;
}
.second_img_para_div>div{
    width: 90%;
    height: 350px;
}
.second_img_para_div>div>img{
    width: 100%;
    padding: 20px 20px 20px 20px;
}
.second_img_para_div>div>img:hover{
    /* border: 2px solid blueviolet; */
    transform: scale(1.1);
}
.second_img_para_div>p{
font-size: 20px;
color: #406882;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second_img_para_div>p:hover{
    text-decoration: underline;
}

#third_main_div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: auto;
    margin-top: 40px;
    gap: 30px;
}
#your_instructor{
    font-size: 40px;
    font-weight: 600;
    color: #406882;
    text-align: center;
    margin-top: 150px;
}
.third_img_para_div{
    display: flex;
    gap: 30px;
    background-color: #bec7cf;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 20px 20px 20px 20px;
}
.third_img_para_div:hover{
    transform: scale(1.05);
}
.third_img_div{
    width: 100%;
}
.third_img_div>img{
    border: 3px solid #E14D2A;
    border-radius: 50%;
}
.third_para_div>p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    color: #1A374D;
}
.third_h3_logo_div{
    color: #E14D2A;
    font-size: 22px;
    font-weight: 600;
}

#fourth_main_div{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    gap: 50px;
}
#fourth_img_div{
    width: 30%;
    /* border: 3px solid red; */
}
#fourth_img_div{
    width: 40%;
}
#fourth_h1_btn_div{
    width: 60%;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border: 3px solid blue; */
}
#fourth_h1_btn_div:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}
#fourth_h1_btn_div>h1{
    font-size: 30px;
    font-weight: 700;
    color: #406882;
    text-align: center;
margin-top: 50px;
}
#fourth_para_logo_div{
display: flex;
width: 70%;
margin: auto;
}
#fourth_para_logo_div>p{
    color: #406882;
    text-align: center;
    margin-top: 60px;
}
#fourth_para_logo_div>img{
    width: 40%;
}
#fourth_h1_btn_div>button{
    padding: 10px 40px 10px 40px;
    background-color: #54B435;
    border-radius: 10px;
    margin-left: 50%;
}
#fourth_h1_btn_div>button:hover{
    transform: scale(1.2);
}
#why_techno_turtle_main_div{
    display: grid;
    width: 70%;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;    margin: auto;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    /* transform: rotate(10deg); */
}
/* #why_techno_turtle_main_div:hover{
    transform: rotate(12deg);
} */
.why_techno_turtle_div{
    /* border: 2px solid red; */
    width: 50%;
    height: 250px;
    margin: auto;
    transform: rotate(45deg);
    border-radius: 30px;
    padding: 20px 10px 10px 10px;
}
.why_techno_turtle_div:hover{
    transform: rotate(0deg);
}
.why_techno_turtle_div>img{
width: 50%;
margin: auto;
border-radius: 50%;
}
.why_techno_turtle_div>h3{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
#review_main_div{
    width: 90%;
    margin: auto;
    height: 400px;
    background-color: #AEBDCA;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
}
#review_main_div>h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#review_main_div>img{
margin: auto;
margin-top: 20px;
}
#review_main_div>h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#review_main_div>h3{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#help_main_div{
    background-color: #E8DFCA;
    width: 90%;
    height: 700px;
    margin: auto;
    display: flex;
    margin-top: 200px;
}
#form_main_div{
    width: 40%;
    height: 500px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 150px;
    margin-left: 3%;
}
#form_main_div>input{
    display: block;
    padding: 15px 60px 15px 60px;
    margin-top: 40px;
    margin-left: 18%;
    background-color: #7895B2;
    color: white;
}
#form_main_div>button{
    padding: 10px 70px 10px 70px;
    background-color: #E14D2A;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 40px;
}
#help_details_div{
    width: 50%;
/* border: 5px solid greenyellow; */
}
#help_details_div>h1{
font-size: 30px;
font-weight: 600;
color: #E14D2A;
text-align: center;
margin-top: 150px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#help_details_div>p{
    font-size: 20px;
    font-weight: 400;
    color: #406882;
    text-align: center;
}
#help_img_logo_div{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
#help_img_logo_div>img{
    width: 22%;
    height: 100px;
border-radius: 50%;
}
#phn_call_details_div{
    width: 100%;
    /* border: 2px solid black; */
}
#phn_call_details_div>p{
    font-size: 20px;
    font-weight: 400;
    color: #406882;
    text-align: center;
}
#phn_call_details_div>h1{
    font-size: 30px;
font-weight: 600;
color: green;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}